<?xml version="1.0" encoding="UTF-8"?>
<!-- 기본 세팅을 해주어야함 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">                

<bean id="obj1" class="kr.hs.study.beans.TestBean1" lazy-init="true" scope="prototype"/>
<bean id="obj2" class="kr.hs.study.beans.TestBean2" lazy-init="true">
	<constructor-arg value="10" type="int" />
	<constructor-arg value="11.11" type="double" />
	<constructor-arg value="book" type="java.lang.String"/>
	<constructor-arg ref="d1"/>
</bean>

<bean id="d1" class="kr.hs.study.beans.DataBean1" />

<bean id="obj3" class="kr.hs.study.beans.TestBean2" lazy-init="true">
	<property name="a" value="20"/>
	<property name="b" value="22.22" />
	<property name="c" value="book2" />
	<property name="d1" ref="d1" />
</bean>

<bean id="data3" class="kr.hs.study.beans.DataBean3" />
<!--  <bean id="DataBean3" class="kr.hs.study.beans.DataBean3"/> -->
 <bean id="obj4" class="kr.hs.study.beans.TestBean3" autowire="byName" />

 <bean id="obj5" class="kr.hs.study.beans.TestBean3" autowire="byType" /> 
<bean id="obj6" class="kr.hs.study.beans.TestBean3" autowire="constructor" />  

<bean id="obj7" class="kr.hs.study.beans.TestBean3" autowire="byName">
	<constructor-arg value="10" index="0"/>
	<constructor-arg value="11.11" index="1"/>
</bean>






</beans>